<ion-header *ngIf="!filterOn && !sounPageVisible" >
  <ion-segment value="custom">
    <ion-segment-button value="custom" (click)="isMapVisible = !isMapVisible">
      <ion-label>Carte</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" (click)="isMapVisible = !isMapVisible">
      <ion-label>Liste</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="content" *ngIf="!filterOn && !sounPageVisible">
  <ion-chip class="center-chip" *ngIf="isMapVisible" (click)="centerViewOnUser()">
    <ion-icon name="navigate-circle" color="white"></ion-icon>
    <ion-label>Centrer sur ma position</ion-label>
  </ion-chip>
  <div *ngIf="isMapVisible" class="map" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)" [leafletLayers]="mapMarkers" (click)="closeSound()">
  </div>
  <div class="sound-player-container" *ngIf="isMapVisible && selectedSound">
    <div class="player">
      <app-sound-player [category]="selectedSound.category.name" [showCategory]="false" [soundId]="selectedSound._id" (soundLoaded)="finishedLoading()"></app-sound-player>
    </div>
  </div>
  <ion-grid id="soundsListContainer" *ngIf="!isMapVisible && !filterOn">
    <ion-row>
      <ion-col>
        <h1>Son(s) environnant(s)</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end" >
      <ion-col size="3">
        <ion-button (click)="filterOn = true">
          <ion-icon name="options-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <hr class="horizontal-line">
    <ion-row class="soundsElement" *ngFor="let sound of sounds">
      <ion-col class="soundPlayer">
        <app-sound-player (soundIdSent)="getSoundId($event)" (displaySoundPage)="displaySoundPage()"  [category]="sound.category.name" [showCategory]="true" [soundId]="sound._id"></app-sound-player>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="filterOn">
  <ion-grid>
    <ion-row >
      <ion-col class="ion-justify-content-start">
        <ion-button fill="clear" (click)="filterOn = false; defaultFilter()" >
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="datePickerOn = !datePickerOn">
          <ion-icon name="calendar-outline"></ion-icon>
          {{selectedDate | date:'dd.MM.yyyy'}}
        </ion-button>
      </ion-col>
      <ion-col id="kmCol">
          <b>{{selectedDistance}} km</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-datetime displayFormat="DD/MM/YYYY" *ngIf="datePickerOn" [(ngModel)]="selectedDate"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-range [(ngModel)]="selectedDistance" min="1" max="30"></ion-range>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let category of categories" size="4">
          <app-category-button [categoryName]="category.name" [backgroundColor]="'white'" (click)="selectedCategory = category.name; categoryId = category._id" ></app-category-button>
      </ion-col>
    </ion-row>
    <ion-row id="filterButtons">
      <ion-col>
        <ion-button fill="outline" (click)="filterOn = false; defaultFilter()">
          Réinitialiser
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="filterOn = false; confirmFilter()">
          Valider
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


 <ion-content *ngIf="sounPageVisible">
  <app-sound-page (soundIdSent)="getSoundId($event)" (displaySoundPage)="displaySoundPage()"></app-sound-page>
 </ion-content>