<!-- <ion-header>
  <ion-toolbar>
    <ion-title>SoundsMap</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content class="ion-padding"> Let's find sounds! </ion-content> -->

<ion-segment value="custom">
  <ion-segment-button value="custom" (click)="isMapVisible = !isMapVisible">
    <ion-label>Carte</ion-label>
  </ion-segment-button>
  <ion-segment-button value="segment" (click)="isMapVisible = !isMapVisible">
    <ion-label>Liste</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
<div *ngIf="isMapVisible" class="map" leaflet [leafletOptions]="mapOptions">
</div>
  <ion-grid id="soundsListContainer" *ngIf="!isMapVisible">
    <ion-row class="soundsElement" *ngFor="let sound of sounds">
      <ion-col class="soundPlayer">
        <app-sound-player></app-sound-player>
      </ion-col>
      <!-- <ion-col class="categoryButton">
        <app-category-button [backgroundColor]="'red'" [categoryName]="sound.category.name"></app-category-button>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>


