<ion-header *ngIf="!filterOn">
  <ion-segment value="custom">
    <ion-segment-button value="custom" (click)="isMapVisible = !isMapVisible">
      <ion-label>Carte</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" (click)="isMapVisible = !isMapVisible">
      <ion-label>Liste</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="content" *ngIf="!filterOn">
  <div *ngIf="isMapVisible" class="map" leaflet [leafletOptions]="mapOptions">
  </div>
  <ion-grid id="soundsListContainer" *ngIf="!isMapVisible && !filterOn">
    <ion-row>
      <ion-col>
        <h1>Son(s) environnant(s)</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end" >
      <ion-col size="3">
        <ion-button (click)="filterOn = true">
          <ion-icon name="options-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <hr class="horizontal-line">
    <ion-row class="soundsElement" *ngFor="let sound of sounds">
      <ion-col class="soundPlayer" *ngIf="chosenCategory !== null">
        <app-sound-player [category]="sound.category.name" [showCategory]="true" [soundId]="sound._id" *ngIf="chosenCategory === sound.category.name"></app-sound-player>
      </ion-col>
      <ion-col class="soundPlayer" *ngIf="chosenCategory === null">
        <app-sound-player [category]="sound.category.name" [showCategory]="true" [soundId]="sound._id"></app-sound-player>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="filterOn">
  <ion-grid>
    <ion-row >
      <ion-col class="ion-justify-content-start">
        <ion-button fill="clear" (click)="filterOn = false; defaultValues()" >
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="datePickerOn = !datePickerOn">
          <ion-icon name="calendar-outline"></ion-icon>
          {{chosenDate | date:'dd.MM.yyyy'}}
        </ion-button>
      </ion-col>
      <ion-col id="kmCol">
          <b>{{chosenDistance}} km</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-datetime displayFormat="DD/MM/YYYY" *ngIf="datePickerOn" [(ngModel)]="chosenDate"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-range [(ngModel)]="chosenDistance" min="0" max="30"></ion-range>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let category of categories" size="4">
          <app-category-button [categoryName]="category.name" [backgroundColor]="'white'" (click)="chosenCategory = category.name" ></app-category-button>
      </ion-col>
    </ion-row>
    <ion-row id="filterButtons">
      <ion-col>
        <ion-button (click)="filterOn = false">
          Valider
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
