<ion-header>
</ion-header>

<ion-content class="ion-align-self-center">

  <ion-row class="ion-justify-content-center" id="loginLogoContainer" >
    <img src="../../../assets/img/logo.svg" alt="">
  </ion-row>

  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <ion-list>
      <!-- Email input -->
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          inputmode="text"
          #email="ngModel"
          required="true"
          name="email"
          [(ngModel)]="authRequest.email"
        ></ion-input>
      </ion-item>

      <!-- Error message displayed if the username is invalid -->
      <ion-item lines="none" *ngIf="email.invalid && email.touched">
        <ion-text color="danger">Email requis.</ion-text>
      </ion-item>

      <!-- Password input -->
      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input
          inputmode="text"
          #password="ngModel"
          required="true"
          type="password"
          name="password"
          [(ngModel)]="authRequest.password"
        ></ion-input>
      </ion-item>

      <!-- Error message displayed if the password is invalid -->
      <ion-item lines="none" *ngIf="password.invalid && password.touched">
        <ion-text color="danger">Mot de passe requis.</ion-text>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <!-- Submit button -->
      <ion-button color="primary" type="submit" expand="block" [disabled]="loginForm.invalid"
        >Se connecter</ion-button
      >

      <!-- Error message displayed if the login failed -->
      <ion-text color="danger" *ngIf="loginError"
        >Email ou mot de passe erroné.</ion-text
      >
    </div>
  </form>
  <div>
    <ion-text>
      Pas encore inscrit? <a href="">Crées ton compte.</a>
    </ion-text>
  </div>
</ion-content>
