<ion-content *ngIf="!showUserProfile">
  <ion-grid *ngIf="sound" >
    <ion-row>
      <ion-col class="ion-justify-content-start">
        <ion-button fill="clear" (click)="closeSoundPage()" >
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="">
        <app-sound-player  *ngIf="soundId && sound"   [category]="sound.category.name" [showCommentBtn]="false" [showCategory]="true" [soundId]="soundId">
        </app-sound-player>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr class="horizontal-line">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11" class="ion-margin-start">
        <p>écouté par <b>{{user.username}}</b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11" class="ion-margin-start">
        <h2><b>{{sound.comments.length}} commentaires</b></h2>
        <ion-input type="text" placeholder="Commenter en tant que {{user?.username}}" [(ngModel)]="newComment"></ion-input>
        <ion-button id="postButton" [disabled]="!newComment" (click)="createComment(soundId, newComment)">
          Poster
        </ion-button>
      </ion-col>
    </ion-row>
    <app-comment *ngFor="let comment of sound.comments" [comment]="comment" (openAuthorProfile)="openAuthorProfile($event)"></app-comment>
  </ion-grid>
</ion-content>
<ion-content>
  <app-user-profile *ngIf="showUserProfile" [userId]="userId" (closeUserProfile)="closeUserProfile()"></app-user-profile>
</ion-content>