.horizontal-line {
    height: 2px;
    width: 90%;
    background-color: black;
  }

  ion-grid{
    margin-left: 16px;
  }

  #postButton{
    float: right;
  }

  .commentDate{
  text-align: right;
  font-size: smaller;
  color: grey;
  }