<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="datePickerOn = !datePickerOn">
          <ion-icon name="calendar-outline"></ion-icon> 
          {{chosenDate | date:'dd.MM.yyyy'}}
        </ion-button>
      </ion-col>
      <ion-col>
          <b>{{rangeValue}} km</b>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-range [(ngModel)]="rangeValue" min="0" max="30"></ion-range>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let categorie of categories" size="4"> 
          <app-category-button [categoryName]="categorie.name" [backgroundColor]="'red'"></app-category-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-datetime displayFormat="DD/MM/YYYY" *ngIf="datePickerOn" [(ngModel)]="chosenDate"></ion-datetime>
</ion-content>
