<ion-header>
  <ion-toolbar>
    <ion-title>RecordSound</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="recording-step" *ngIf="!recordedSound">
    <ion-text color="secondary">
      <h1>Maintiens le bouton pour enregistrer un son!</h1>
    </ion-text>
    <app-sound-recorder (soundRecorded)="soundRecorded($event)"></app-sound-recorder>
  </div>
  <div class="category-step" *ngIf="recordedSound">
    <div class="sound-player">
    </div>
  </div>
</ion-content>